# Database
DB_URL=jdbc:mysql://localhost:3306/bds360
DB_USERNAME=root
DB_PASSWORD=your_database_password_here

# JWT Secret (Chuỗi Base64)
JWT_SECRET=your_jwt_secret_key_here

# VNPAY Keys
VNPAY_TMN_CODE=your_vnpay_tmn_code_here
VNPAY_SECRET_KEY=your_vnpay_secret_key_here

# Mapbox API Key
MAPBOX_API_KEY=your_mapbox_api_key_here

# Gmail Account & App Password
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password_here